<!DOCTYPE html>
<html>
  <head>
    <title>EatingEasy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script type="text/javascript">
      window.splash = "<%= image_url('rhrooftop.jpg') %>";
    </script>

   //  <%= favicon_link_tag asset_path('easy_eating_logo.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
